/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.sec-2 .sec-2-item{
		margin-top: 30px;
	}
	.sc-gotov-item{
		text-align: center;
	}
	.sc-gotov-inner-item{
		text-align: center;
	}
	.object-wrap{
		text-align: center;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.sec-7 .sec-2-item{
		margin: 30px auto 80px;
	}
	.sec-4-text {
	    margin-bottom: 30px;
	}
	.sec-2-item{
		margin: 30px auto;
	}
	.header-top{
		text-align: center;
	}
	.header-top2{
		text-align: center;
	}
	.logo{
		margin-bottom: 30px;
	}
	.sec-3-item{
		text-align: center;
	}
	.sec-8-item{
		margin-bottom: 60px;
	}
	.header-top2 .logo{
		margin: 0 auto 10px;
	}
	.footer-address-wrap{
		text-align: left;
		margin-top: 30px;
	}
	.form-contact{
		margin: 30px auto 50px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.sec-4{
		text-align: center;
	}
	.header-top2 .btn-popup{
		display: block;
		width: 150px;
		padding: 8px 17px;
		margin: 10px auto 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
	.header-top .btn-popup{
		display: block;
		margin: 10px auto;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 580px) {
	.header-top2{
		text-align: center;
	}
	.header-top2 .phone{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}